# Dependencies
node_modules
.pnp
.pnp.js

# Build
.next
out
build
dist

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env
.env*.local
.env
.env.staging
.env.production

# IDE
.idea
.vscode
.claude
.agents
CLAUDE.md
*.swp
*.swo
.DS_Store

# Prisma generated
lib/generated

# TypeScript
next-env.d.ts
*.tsbuildinfo
.vercel
